body {
    font-family: sans-serif;
    background-color: lightgrey;
    
}

.center {
    text-align: Right;
    
    font-size: 30%;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 400px;
}

.header{
    background-size:15px;
     font-size: 100%;
 background-color:#FFF2BF;
 position: absolute;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  
  text-align: center;
}
.header menu{
    
    
    padding:6px 0 7px 0;

}
.header  li{
    display:inline;
      
}
.container{
    text-align: center;
    max-width:800px;
    margin:0 auto;
    color:grey;
    padding-top:60px;
     padding-left:60px;
     padding-bottom:60px;
}

.footer{
    
   position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;

}


