body {
    font-family: sans-serif;
    background-color: lightgrey;
    
}

.center {
    text-align: left;
    
    font-size: 30%;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 400px;
}

.header{
     font-size: 100%;
 background-color:#FFF2BF;
}
.header menu{
    padding:6px 0 7px 0;

}
.header  li{
    display:inline;
      
}
.container{
    text-align: center;
    max-width:800px;
    margin:0 auto;
    color:grey;
    padding-top:60px;
     padding-left:60px;
     padding-bottom:60px;
}

.footer{
    margin-top: 340px;
    margin-left: 420px;
}