body {
    font-family: sans-serif;
    background-color: lightgrey;
    
}

.center {
    text-align: Right;
    
    font-size: 30%;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 400px;
}

.header{
    background-size:15px;
     font-size: 100%;
 background-color:#FFF2BF;
 position: absolute;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.header menu{
    
    
    padding:6px 0 7px 0;

}
.header  li{
    display:inline;
      
}

.header span{

    outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px
  solid #bbbbbb;
  color:#1ECD97;
  letter-spacing:1px;
  text-shadow:0;
  font-size:12px;
   font-weight:bold;
    
}
.container{
    text-align: center;
    max-width:800px;
    margin:0 auto;
    color:grey;
    padding-top:60px;
     padding-left:60px;
     padding-bottom:60px;
}

.footer{
    
   position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #7CB342;
  text-align: center;

}


